nav {
  background-color: #450202;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;
}

nav h1 {
  margin: 0;
  font-size: 1.8rem;
}

nav ul {
  list-style: none;

  display: flex;
  gap: 25px;

  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;

  transition: 0.3s;
}

nav a:hover {
  color: #c0c0c0;
}
