.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  max-width: 700px;
  margin: 0 auto 20px;
  font-size: 1.1rem;
}

ul li {
  margin-bottom: 10px;
}

section {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
}

form {
  background-color: white;
  padding: 25px;
  border-radius: 10px;

  max-width: 600px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;

  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #111;
  color: white;

  border: none;
  border-radius: 5px;

  padding: 12px 20px;
  cursor: pointer;

  transition: 0.3s;
}

button:hover {
  background-color: #333;
}
